{% extends "planner/base.html" %}
{% load humanize %}

{% block content %}



  <div class="row row-offcanvas row-offcanvas-right">
    
    <div class="col-xs-12 col-sm-9">
      <div class="row">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-success btn-xs" data-toggle="offcanvas">Planner Menu</button>
      </p>
      </div>
      <div class="lawn-info">
          <div class="row">
            <p class="col-sm-5"><strong>Lawn Name: </strong>{{ lawn.name }}</p>
            <p class="col-sm-6"><strong>ZIP Code: </strong>{{ lawn.zip_code }}</p>
          </div>
          <div class="row">
            <p class="col-sm-5"><strong>Grass Type: </strong>{{ lawn.grass_type }}</p>
            <p class="col-sm-6"><strong>Closest Weather Station: </strong>{{ closest_station }}</p>
          </div>
          <div class="row">
            <p class="col-sm-5"><strong>Lawn Size: </strong>{{ lawn.size|intcomma }} sf</p>
          </div>
        </div>
      <div class="row">
        
          <!-- Sidebar tabs -->
          <div class="container tab-content">
            
            <!-- Planner Tab -->
            <div role="tabpanel" class="tab-pane fade in active" id="planner">
              
              <div class="planner">
                <div class="row">
                  <p class="col-sm-9">This is your personalized Lawn Care Planner for the year. This is based on the specific
                                      attributes of your lawn including the normal weather conditions in your area, the type
                                      of grass that you have, and the size of your lawn. Navigate through the tabs on the right for
                                      more detail on each lawn care task.</p>
                </div>
                <br>
                <div class="col-sm-8 container-fluid">
                  
                  {% for season, months in planner.items %}
                    <div class="panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ season|capfirst }}</h3>
                      </div>
                      <div class="panel-body">
                        {% for month, tasks in months.items %}
                          <p><strong>{{ month }}</strong></p>
                          <ul>
                            {% for task in tasks %}
                              {% if task.date is None %}
                                <li>{{ task.name }}</li>
                              {% else %}
                                <li>{{ task.date }} - {{ task.name }}</li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            
            <!-- Fertilizer Tab -->
            <div class="tab-pane fade" id="fertilizer">
              <div class="fertilizer">
                <div class="row">
                  <p class="col-sm-9">This fertilizer plan is based 4 applications per year: late Spring, mid Summer, early Fall, and late Fall. 
                  The mid Summer application should only be done if your lawn is properly irrigated. 
                  The dates listed below are based on average historic temperatures in your area.
                  These should only be used as a guideline, and actual weather forecasts should be used to determine actual dates.</p>
                </div>
                <br>
                
                <div class="row">
                  
                  <div class="col-lg-5">
                      <h4><strong>Application Schedule</strong></h4>
                        {% for key,list in fertilizer_apps.items %}
                          <h4>{{ key | capfirst }}:</h4>
                          {% for value in list %}
                              <ul>
                                {% if value.end_date is None %}
                                  <li>{{ value.date }}</li>
                                {% else %}
                                  <li>{{ value.date }} - {{ value.end_date }}</li>
                                {% endif %}
                                <ul>
                                  <li>Application Total: {{ value.total_lbs }} lbs of Nitrogen</li>
                                  <li>Rate: {{ value.rate }} lbs per 1000 sf</li>
                                </ul>
                              </ul>
                            {% endfor %}
                        {% endfor %}
                  </div>

                    <div class="col-lg-4">
                        <h4><strong>Common Products and Amounts</strong></h4>
                        <p>Here are links to commonly sold products. The weight listed is the recommended amount
                            to spread evenly over your lawn in one application.</p>

                        <p><strong>Organic</strong></p>
                        <ul>
                            {% for product in fertilizer_products %}
                                {% if product.organic %}
                                    <li>{{ product.name }} - {{ product.weight }} lbs
                                        <ul>
                                            <li>
                                                <p>
                                                {% for site,url in product.links.items %}
                                                <a href={{ url }} target="_blank">{{ site }}</a> |
                                                {% endfor %}
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <p><strong>Synthetic</strong></p>
                        <ul>
                            {% for product in fertilizer_products %}
                                {% if not product.organic %}
                                    <li>{{ product.name }} - {{ product.weight }} lbs
                                        <ul>
                                            <li>
                                                <p>
                                                {% for site,url in product.links.items %}
                                                <a href={{ url }} target="_blank">{{ site }}</a> |
                                                {% endfor %}
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                      <!--<p>N-P-K CALCULATOR</p>-->
                    </div>
                </div>
                
                <br>
                <p>(<a href="">source</a>)</p>
              </div>
            </div>
            
            <!-- Seeding Tab -->
            <div role="tabpanel" class="tab-pane fade" id="seeding">
              <div class="seeding">
                <div class="row">
                    <div class="col-lg-9">
                        <p>The ideal days for seeding have nighttime temperatures above 40&degF,
                            and daytime temperatures below 80&degF for the entirety of the germination period.
                            The dates listed below are days with average historic temperatures in your area within this range.
                            These should only be used as a guideline, and actual weather conditions should be used to determine actual seeding dates.</p>
                        <p>Typically fall is a more effective seeding season than spring.
                            Soils tend to be dryer and warmer during late August and early September than in spring.
                            When planted in late summer, seedlings will have two cool growing seasons (fall and spring) to become established,
                            whereas seedlings developing from spring establishments will be subjected to the heat and drought of summer,
                            making survival more difficult. Weeds are usually more of a problem in spring establishments than in late summer
                            establishments as the cool temperatures and frosts in late summer/early fall will slow weed development
                            (<a href="http://plantscience.psu.edu/research/centers/turf/extension/factsheets/lawn-establishment">source</a>).</p>
                    </div>
                </div>
                <br>
                 <div class="col-lg-4">
                      <p><strong>Amount of Seed (<a href="http://plantscience.psu.edu/research/centers/turf/extension/factsheets/seed">source</a>):</strong></p>
                        <ul>
                          <li>Establish New Lawn: {{ lawn.seed_new_lb_range.0 }} to {{ lawn.seed_new_lb_range.1 }} lbs</li>
                          <li>Overseed: {{ lawn.seed_over_lb_range.0 }} to {{ lawn.seed_over_lb_range.1 }} lbs</li>
                        </ul>
                        </p>
                      <p><strong>Germination Period (<a href="http://ipm.ucanr.edu/TOOLS/TURF/ESTABLISH/germin.html">source</a>): </strong>{{ germination_time }} days</p>
                      <p><strong>Best Dates for Seeding (<a href="https://youtu.be/iJeUeOq1m2E?t=1m24s">source</a>):</strong></p>
                      <ul>
                          {% for range in seeding_ranges %}
                              <li>{{ range }}</li>
                          {% endfor %}
                      </ul>
                 </div>
                 <div class="col-lg-4">

                 </div>
              </div>
            </div>
            
            <!-- Mowing Tab -->
            <div role="tabpanel" class="tab-pane fade" id="mowing">
              <div class="mowing">
                <div class="row">
                  <p class="col-sm-9">Based on your grass type, the below schedule of mowing heights is recommended.</p>
                </div>
                <br>
                {% for key,value in mowing_heights.items %}
                  <h4>{{ value.title }}:</h4>
                    <ul>
                      <li><strong>Height: </strong>{{ value.height }}"</li>
                      <li>{{ value.description }}</li>
                    </ul>
                {% endfor %}
                <br>
                <p>(<a href="https://youtu.be/6ISw5ODvKNo">source</a>)</p>
              </div>
            </div>
            
            <!-- Weed Control Tab -->
            <div role="tabpanel" class="tab-pane fade" id="weedcontrol">
              <div class="weedcontrol">
                <div class="row">
                  <p class="col-sm-9">This weed control plan utilizes Growing Degree Days of crabgrass to determine ideal application timing 
                  (<a href="http://www.uky.edu/Ag/ukturf/4-1-14.html">source</a>). 
                  The dates listed below are based on average historic temperatures in your area. 
                  These should only be used as a guideline, and actual weather forecasts should be used to determine actual dates.</p>
                </div>
                <br>
                  <p><strong>Summer Annual Weed Pre-emergent Deadline: </strong>{{ summer_weed_deadline }}</p>
                <br>
              </div>
            </div>
            
            <!-- Insect Control Tab -->
            <div role="tabpanel" class="tab-pane fade" id="insectcontrol">
              <div class="insectcontrol">
                <div class="row">
                  <p class="col-sm-9">This insect control plan utilizes Growing Degree Days of Japanese Beetles to determine ideal application timing 
                  (<a href="http://crops.extension.iastate.edu/cropnews/2015/06/japanese-beetles-begin-emergence">source</a>). 
                  The dates listed below are based on average historic temperatures in your area. 
                  These should only be used as a guideline, and actual weather forecasts should be used to determine actual dates.</p>
                </div>
                <br>
                  <p><strong>Grub worm preventer application deadline: </strong>{{ grub_deadline }}</p>
                <br>
              </div>
            </div>
            
            
            
            
          </div>
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" roll="tablist">
      <div class="list-group" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <span data-toggle="offcanvas">
          <a class="list-group-item active" href="#planner" data-target="#planner" data-toggle="tab">Planner</a>
          <a class="list-group-item" href="#fertilizer" data-target="#fertilizer" data-toggle="tab">Fertilizer</a>
          <a class="list-group-item" href="#" data-target="#seeding" data-toggle="tab">Seeding</a>
          <a class="list-group-item" href="#" data-target="#mowing" data-toggle="tab">Mowing</a>
          <a class="list-group-item" href="#" data-target="#weedcontrol" data-toggle="tab">Weed Control</a>
          <a class="list-group-item" href="#" data-target="#insectcontrol" data-toggle="tab">Insect Control</a>
        </span>
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->


{% endblock %}