{% extends "planner/base.html" %}

{% block content %}

{% if lawn.user == user %}
    <h3>Edit Lawn</h3>
{% else %}
    <h3>Create Lawn</h3>
{% endif %}
<br>



<form method="POST" class="lawn-form form-horizontal">{% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
    <br>
    {% if lawn.user == user or lawn.user.username == 'guest' %}
        <button type="submit" class="save btn btn-success">Save</button>
        <button type="submit"class="btn btn-default" name="cancel">Cancel</button>
        <a href="{% url 'lawn_delete' pk=lawn.pk %}"><button type="button" class="btn btn-danger">Delete Lawn</button></a>
    {% else %}
        <button type="submit" class="save btn btn-success">Create</button>
    {% endif %}
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>‌​
<script>

    var radios = document.querySelectorAll('input[type=radio][name="advanced"]');

    $( document ).ready(function() {
        console.log( "ready!" );
        var radioValue = $("input[name='advanced']:checked").val();
        console.log(radioValue);
        if (radioValue === 'True') {
            $("#advanced_fieldset").show()
        }
    });

    function changeHandler(event) {
        if ( this.value === 'True' ) {
            $("#advanced_fieldset").show()
        }
        else{
            $("#advanced_fieldset").hide()
        }
    }

    Array.prototype.forEach.call(radios, function(radio) {
        radio.addEventListener('change', changeHandler);
    });
</script>
{% endblock %}